body {
    background-color: white;
}

h1 {
    text-align: center;
    color: #53a8b6;
    font-size: 250%;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: #79c2d0;
    font-size: 160%;
    font-weight: lighter;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 20px;
    line-height: 25px;
}

button {
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(139, 192, 216, 0.73);
    background: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    transition: all 150ms ease-in-out;
    color: rgba(4, 136, 207, 0.51);
}

button:hover {
    background: rgba(139, 192, 216, 0.73);
    cursor: pointer;
}

.theme-button {
    font-size: 10px;
    padding: 5px 9px;
    background-color: black;
    border-color: black;
    color: aliceblue;
}

.theme-button:hover {
    background: white;
    border-color: rgba(139, 192, 216, 0.73);
    color: black;
}

.container {
    max-width: 900px;
    background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
    margin: 0 auto;
    border: 1px solid rgba(139, 192, 216, 0.73);
    padding: 30px 30px;
    border-radius: 40px;
}

footer {
    text-align: center;
}

.main-skating-picture {
    transition: all 150ms ease-in-out;
    border-radius: 10px;
}

.main-skating-picture:hover {
    filter: contrast(150%);
    transform: scale(1.2);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
}

.grid img {
    width: 100%;
    border-radius: 7px;
    aspect-ratio: 16/11;
    transition: all 150ms ease-in-out;
}

.grid img:hover {
    transform: scale(2.7);
}

.learn-more-about {
    color: #79c2d0;
}

.dark {
    background: black;
    color: #79c2d0;
}

.dark .container {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.dark .title {
    color: #09203f;
}

.dark .subtitle {
    color: #09203f;
}

.dark .learnSkating {
    background: #09203f;
    color: #79c2d0;
}

.dark .theme-button {
    background: #537895;
    color: #09203f;
}